<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<property name="LOG_BASE_DIR" value="/var/log/devlopment/spring-todo/"/>
	<property name="ARCIVE_BASE_DIR" value="/var/log/devlopment/spring-todo/%d{yyyy-MM-dd}/"/>

	<appender name="INFO_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_BASE_DIR}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${ARCIVE_BASE_DIR}/info.%d.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>	
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="INFO_LOG" />
	</root>
	
</configuration>