[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
ExecStart=/opt/nexus/current/bin/nexus start
ExecStop=/opt/nexus/current/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target