<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>管理コンソール</title>
  </head>
  <body>
    <div th:fragment="metrics" th:remove="tag">
      <template id="metrics">
        <article class="metrics-content">
          <dl>
            <dt>uptime</dt>
            <dd>
              <span v-text="metrics.uptime"></span>
              <span>ms</span>
            </dd>
            <dt>instance.uptime</dt>
            <dd>
              <span v-text="metrics.instance.uptime"></span>
              <span>ms</span>
            </dd>
            <dt>processors</dt>
            <dd v-text="metrics.processors"></dd>
            <dt>systemload.average</dt>
            <dd v-text="metrics.systemload.average"></dd>
            <dt>mem</dt>
            <dd>
              <dl>
                <dt>mem</dt>
                <dd>
                  <span v-text="metrics.mem.count"></span>
                  <span>KB</span>
                </dd>
                <dt>mem.free</dt>
                <dd>
                  <span v-text="metrics.mem.free"></span>
                  <span>KB</span>
                </dd>
              </dl>
            </dd>
            <dt>classes</dt>
            <dd>
              <dl>
                <dt>classes</dt>
                <dd v-text="metrics.classes.count"></dd>
                <dt>classes.loaded</dt>
                <dd v-text="metrics.classes.loaded"></dd>
                <dt>classes.unloaded</dt>
                <dd v-text="metrics.classes.unloaded"></dd>
              </dl>
            </dd>
            <dt>heap</dt>
            <dd>
              <dl>
                <dt>heap</dt>
                <dd>
                  <span v-text="metrics.heap.count"></span>
                  <span>KB</span>
                </dd>
                <dt>heap.committed</dt>
                <dd>
                  <span v-text="metrics.heap.committed"></span>
                  <span>KB</span>
                </dd>
                <dt>heap.init</dt>
                <dd>
                  <span v-text="metrics.heap.init"></span>
                  <span>KB</span>
                </dd>
                <dt>heap.used</dt>
                <dd>
                  <span v-text="metrics.heap.used"></span>
                  <span>KB</span>
                </dd>
              </dl>
            </dd>
            <dt>nonheap</dt>
            <dd>
              <dl>
                <dt>nonheap</dt>
                <dd>
                  <span v-text="metrics.nonheap.count"></span>
                  <span>KB</span>
                </dd>
                <dt>nonheap.committed</dt>
                <dd>
                  <span v-text="metrics.nonheap.committed"></span>
                  <span>KB</span>
                </dd>
                <dt>nonheap.init</dt>
                <dd>
                  <span v-text="metrics.nonheap.init"></span>
                  <span>KB</span>
                </dd>
                <dt>nonheap.used</dt>
                <dd>
                  <span v-text="metrics.nonheap.used"></span>
                  <span>KB</span>
                </dd>
              </dl>
            </dd>
            <dt>threads</dt>
            <dd>
              <dl>
                <dt>threads</dt>
                <dd v-text="metrics.threads.count"></dd>
                <dt>threads.peak</dt>
                <dd v-text="metrics.threads.peak"></dd>
                <dt>threads.daemon</dt>
                <dd v-text="metrics.threads.daemon"></dd>
              </dl>
            </dd>
            <dt>httpsessions</dt>
            <dd>
              <dl>
                <dt>httpsessions.max</dt>
                <dd v-text="metrics.httpsessions.max"></dd>
                <dt>httpsessions.active</dt>
                <dd v-text="metrics.httpsessions.active"></dd>
              </dl>
            </dd>
            <dt>counter</dt>
            <dd>
              <ul>
                <li v-for = "(key, val) in metrics.counter">
                  <span v-text="key"></span>
                  <span>:</span>
                  <span v-text="val"></span>
                </li>
              </ul>
            </dd>
            <dt>gauge</dt>
            <dd>
              <ul>
                <li v-for = "(key, val) in metrics.gauge">
                  <span v-text="key"></span>
                  <span>:</span>
                  <span v-text="val"></span>
                </li>
              </ul>
            </dd>
          </dl>
        </article>
      </template>
      <script th:src="@{/libs/console/component/metrics.js}"></script>
    </div>
  </body>
</html>