<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>管理コンソール</title>
  </head>
  <body>
    <div th:fragment="trace" th:remove="tag">
      <template id="trace">
        <article class="trace-content">
          <table class="trace-list">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>timeTaken</th>
                <th>request.remoteAddress</th>
                <th>request.uri</th>
                <th>request.method</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in trace">
                <td v-text="row.timestamp"></td>
                <td v-text="row.timeTaken"></td>
                <td v-text="row.request.remoteAddress"></td>
                <td v-text="row.request.uri"></td>
                <td v-text="row.request.method"></td>
              </tr>
            </tbody>
          </table>
        </article>
      </template>
      <script th:src="@{/libs/console/component/trace.js}"></script>
      <style>
        table.trace-list > thead > tr >th,
        table.trace-list > tbody > tr >td {
          padding: 4px;
        }
      </style>
    </div>
  </body>
</html>